.icon-back {
  &:before {
    transform: rotateZ(-45deg) translate(0, -1em);
    width: 30%;
    margin: 0;
    margin-left: 10px;
    margin-top: 3px;
  }
  &:after {
    transform: rotateZ(45deg) translate(0, 1em);
    width: 30%;
    margin: 0;
    margin-top: -5px;
    margin-left: 10px;
  }
}
